<table style="border-collapse: collapse;">
{% for item in blagues %}
    <tr style="border: 1px solid black;">
                <td style="width:400px;">{{ item.texte }}</td>       
    </tr>
{% endfor %}
</table><br><br><br><br><br>